@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Dados pessoais";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h3>@ViewData["Title"]</h3>

<div class="row">
    <div class="col-md-6">
        <p>Sua conta possuí dados pessoais que você nos forneceu. Nessa página você pode efetuar o download ou excluir essas informações.</p>
        <p>
            <strong>Deletar essas informações irá excluir permanentemente sua conta, e não será possível recuperá-la</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post">
            <button class="btn btn-primary" type="submit">Download</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn btn-danger">Deletar</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
