@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Confirmação de cadastro";
}

<div class="d-flex flex-column justify-content-center align-items-center">
<h1>@ViewData["Title"]</h1>
@{
    if (@Model.DisplayConfirmAccountLink)
    {
<p>
    <a id="confirm-link" href="@Model.EmailConfirmationUrl">Clique aqui para confirmar o seu email</a>
</p>
    }
    else
    {
<p>
        Por favor, verifique o seu email para confirmar o seu cadastro.
</p>
    }
}
</div>

