
@model TesteAtak.Models.GerarClienteViewModel

@{
    ViewData["Title"] = "Gerar Clientes";
}
<div class="col-md-6 mx-auto">   
<h3>@ViewData["Title"]</h3>
</div>

@if (ViewBag.Mensagem != null)
{
    <div class="alert alert-success" role="alert">
        @ViewBag.Mensagem
    </div>
}

<form asp-action="Gerar" method="post">
    <div class="col-md-6 mx-auto">
        <div class="form-group mb-3">
            <label asp-for="Quantidade">Quantidade de registros:</label>
            <input asp-for="Quantidade" class="form-control" min="10" max="1000" />
            <span asp-validation-for="Quantidade" class="text-danger"></span>
        </div>

        <div class="form-group mb-3">
            <label asp-for="Email">Email para envio:</label>
            <input asp-for="Email" class="form-control" />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <input type="hidden" name="Acao" value="" id="acaoInput" />

        <div class="d-flex justify-content-between">
            <div class="btn-group" role="group" arial-label="Basic example">
                <button type="submit" style="margin: 0 0px" class="btn btn-primary" onclick="document.getElementById('acaoInput').value='email'">Enviar por Email</button>
                <button type="submit" style="margin: 0 5px" class="btn btn-success" onclick="document.getElementById('acaoInput').value='download'">Download Excel</button>
        </div>
        </div>
    </div>
</form>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
